@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colours" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/global" as *; 

.about {
    &__body { 
        @include flexed(column,center, center);
        gap:0.5rem;
        @include tablet {
            margin:1rem 5%;
        }
    }

    &__content {
        @include flexed(row,center,flex-start);
        gap:1rem;
    }

    &__text {
        @include flexed(column,center,center);
        gap:1rem;
        margin-left:0.5rem;
    }

    &__img {
        width:20%;
        border-radius:50%;
        margin-right:0.5rem;  
        @include tablet {
            display:none;
            transform: none;
        }  
    }

    &__outdoor {
        border-radius:80%;
        width:20%;
        margin-left:0.5rem;

        @include tablet {
            display:none;
            transform:none
        }
    }
}

.interact {
    @include flexed(row,center,center);

    &__cta {
        cursor: pointer;
        border:1px solid white;
        padding: 2%;
        border-radius:15%;
        align-self: center;
    
    
        @include link-reset;
        &:hover {
            background-color:$primary-color;
        }
    }
}

.interests {
    &__container { 
        width:100%;
        @include flexed(column,center,center);
    }

    &__title{ 
    margin: 1.5rem 0rem;
    }

}
