@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colours" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/global" as *; 

.about {
    &__container {
       // @include flexed(column, center, center);
        //gap:1rem;
    }
    &__body { 
        @include flexed(column,center, center);
        gap:0.5rem;
    }
    &__content {
        @include flexed(row,center,flex-start);
        gap:1rem;
    }
    &__text {
        @include flexed(column,center,center);
        gap:1rem;
        margin-left:0.5rem;
    }
    &__img {
        width:20%;
        border-radius:50%;
        
    }
    &__outdoor {
        border-radius:80%;
        width:20%;
    }
}

.interact {
    position:relative;
    left:35%; 
    &__cta {
        cursor: pointer;
        border:1px solid white;
        padding: 2%;
        border-radius:15%;
        align-self: center;
    
    
        @include link-reset;
        &:hover {
            background-color:$primary-color;
        }
    }
}

.interests {
    &__container { 
        width:100%;
    }
    &__title{ 
    margin-top: 3rem;
    position:relative;
    left:40%;
    }

}
