@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colours" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/global" as *; 

.cards {
    @include flexed(column, center,center);
    margin-top:1rem;
    gap:0.5rem;
    flex-wrap:wrap;
    width:calc(100vw - 30vw);
    
}

.card {
    margin-bottom: 1rem;
    &__img {
        width:6rem;
        height:auto;

    }
}
