@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colours" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/global" as *; 

.cards {
    @include flexed(row, center,center);
    margin-top:1rem;
    gap:0.5rem;
    //see henry's version of calc(100-30vw) to center it
    flex-wrap:wrap;
    
}

.card { 
    width:40%;
    border:1px dotted white;
}