@use "./mixins" as *;
@use "./colours" as *;
@use "./fonts" as *;
@use "./variables" as *;
@use './typography' as *; 


// :root {

// }

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  *,
  *::after,
  *::before {
    box-sizing: inherit;
  }
  
body {
    margin: 0;
    padding: 0;
    font-family: $body-font, sans-serif;
    font-weight: $regular;
    font-size:$normal-font-size;
    position: relative;
    overflow-x: hidden;
    background-color: $body-color;
    color:$text-color;
}
  
h1,
h2,
h3,
h4 {
    font-family: $body-font;
    font-weight: $bold;
    color:$title-color;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
    padding: 0;
}

h1 {
    font-size:$h1-font-size;
}

h2 {
    font-size:$h2-font-size;
}

h3 {
    font-size:$h3-font-size;
}

img {
    max-width:100%;
    height:auto;
}


// Reusable classes

// .container {
//     //max-width:$desktop-breakpoint;
//     //margin: 0 1.5rem;
// }

.grid {
    display:grid;
    gap:1.5rem;
}

.section {
    padding:2rem 0 2rem;
}

.section__title {
    font-size:$h2-font-size;
    text-align:center;
    @include desktop {
        font-size:$h1-tablet-font-size;;
    }
    //margin-bottom:2.5rem;
}

.main {
    overflow:hidden;
}



