@use "./colours" as *;
@use "./variables" as *;


//Break-points
@mixin tablet {
    @media screen and (min-width: $tablet-breakpoint) {
      @content;
    }
  }


@mixin desktop {
    @media screen and (min-width: $desktop-breakpoint) {
      @content;
    }
  }

@mixin wide-screen {
  @media screen and (min-width: $wider-screen-breakpoint) {
    @content;
  }
}
  
@mixin flexed($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
  }

@mixin list-reset {
  list-style: none;
  padding:0;
  margin:0;
}

@mixin link-reset {
  text-decoration: none;
  color:$white-color;
}

@mixin transition {
  transition: all 0.5s ease-in-out;
}