//Media Query Breakpoints:
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
$wider-screen-breakpoint: 1760px;

//Header and nav related
$header-height:3.5rem;
$tablet-header-height:5rem;

//z-index
$z-index-fixed:100;
$z-index-tooltip:10;



