@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colours" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/global" as *; 
@use "../../styles/partials/typography" as *;

.skills {
   @include flexed(column,center,center);
    margin-bottom:1rem;
   &__title {
    font-size:$h3-font-size;
    font-weight:$font-weight-regular;
    text-align: center;
    margin:1rem 0;
    color:$primary-color; 
    @include tablet {
        font-size:$h2-font-size;
    }  
    @include desktop {
        font-size: $h1-font-size;
    }
    }

   &__inner {
    width:80vw;
    margin:0 auto;

   }

   &__icon{
    align-self:center;
   }

   &__content { 
    border-radius:2rem;
    border: 2px solid $primary-color;
    padding:2rem 1rem;
    @include transition;
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:1rem;
    justify-self:center;

    &:hover {
        background:transparent;
        border-color:white;
        
    }
   }

   &__details {
    @include flexed(row,center, flex-start);
    gap:1rem;
    margin:1rem 0.25rem;
    width:100%;
    

   }

   &__text {
    @include flexed(column,flex-start, flex-start);
    width:100%;
        &:hover{
            color:white;
        }
    }

   &__name { 
    font-size:$small-font-size;
    font-weight:$font-weight-light;
    margin:0; 
    @include tablet {
        font-size: $normal-font-size;
    }
    @include desktop {
        font-size: $h3-font-size
    }
   }
   
   &__level {
    font-size:0.6rem;
    font-weight:$font-weight-light;
    @include tablet {
        font-size:$small-font-size;
    }
    @include desktop {
        font-size:$normal-font-size;
    }
   }
}