@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colours" as *;
@use "../../styles/partials/fonts" as *;

* {
    font-family:'Roboto Slab';
    margin:0;
    font-family:'Roboto Slab';
    
}



.content {
    background-color: black;
    color:white;
    @include flexed(column, center,flex-start);
    gap:1rem;
  

}