@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colours" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.hmbg {
  @include flexed(row, flex-end, center);
  width: 100%;
  height:$header-height;
  position:fixed;
  top:0;
    
  @include tablet{
      display:none;
  }

  &__list {
    @include flexed(column, center, flex-end);
    @include list-reset;
    gap: 1rem;
    position: absolute;
    top: 4rem;
    background-color: hsla(0,0%,100%,.1);
    backdrop-filter: blur(96px);
    width: 100%;
    border-top: 3px solid $primary-color-active;
    border-bottom: 3px solid $primary-color-active;
    padding: 1rem 5%;

    @include tablet {
      display: none;
    }
  }

  &__link {
    @include link-reset;
    text-transform: uppercase;
    font-size:$h2-font-size;
    font-weight: $font-weight-regular;
    &:hover {
      color: $primary-color;
    }
  }

  &__icon {
    position: relative;
    right: 5%;
    cursor: pointer;
  }
}
