@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colours" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;

.header {
    background-color: transparent;
    border:1px solid black;
    @include flexed(row, space-between, center);
    height:$header-height;
    z-index:$z-index-fixed;
    position:fixed;
    top:0;
    left:0;
    width:100%;
}   

.nav {
    border: white dotted 2px;
    //position:fixed;
    width:100%;
    margin:0 auto;

    &__logo {
        width: 2rem;
        height:2rem;
        position:relative;
        left:5%;
        transition:transform;
        transition-duration:2s;
        display: inline-flex;
        align-items: center;
        column-gap: .25rem;
        cursor: pointer;
        &:hover{
            animation:rotate 2s linear infinite;
        }
 
        
    }

    // &__home {
    //     transition:transform;
    //     transition-duration:2s;
    //     z-index:20;
    //     &:hover{
    //         //transform: rotate(360deg);
    //         //transition: transform 0.3 ease-in-out;
    //         animation: rotate 2s linear infinite;
    //     }
    // }

    &__list {
        display:none; 
        @include tablet {
            list-style: none;
            position:fixed;
            margin:0;
            padding:0.5rem;
            width:70%;
            @include flexed(row,space-between,center);
        }
    }

    // &__item {
    //     border-bottom:1px solid white;
    // }

    &__link{
        text-decoration: none;
        color:white;

        &:hover{
            color:red;
            font-size:1.5em;
        }
    }
}