@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colours" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.header {
    background-color: rgba(0, 0, 0, 0.75);
    @include flexed(row, space-between, center);
    height:$header-height;
    z-index:$z-index-fixed;
    position:fixed;
    top:0;
    left:0;
    width:100%;

    @include tablet {
        @include flexed(row,flex-end, center);
        height: $tablet-header-height;
    }
}   

.nav {
    width:100%;
    position: relative;
    left:5%;
    
    //margin:0 auto;


    &__logo {
        width: 2.5rem;
        height:2.5rem;
        position:relative;
        left:5%;
        //margin:1.5rem 0rem;
        transition:transform;
        transition-duration:2s;
        display: inline-flex;
        align-items: center;
        column-gap: .25rem;
        cursor: pointer;
        border-radius:20%;
        z-index: $z-index-fixed;
        &:hover{
            animation:rotate 2s linear infinite;
        }

        @include tablet {
            width:4rem;
            height:auto;
            margin:0.5rem 0rem;

        }
    }

    &__list {
        display:none; 
        @include tablet {
            list-style: none;
            position:fixed;
            margin:0;
            padding:0.5rem;
            width:70%;
            font-size:$h3-font-size;
            @include flexed(row,space-around,center);
        }
    }

    &__item {
        @include tablet {
            &:hover{
                color:$primary-color;
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }

    &__link{
        text-decoration: none;
        color:white;

        &:hover{
            color:$primary-color;
            font-size:1.5em;
        }
    }
}