@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colours" as *;
@use "../../styles/partials/fonts" as *;

.header {
    background-color: red;
    border:1px solid black;
    @include flexed(row, flex-end, center);
    height:5rem;
    z-index:10;
    opacity:0.5;
    font-family:'Roboto Slab';
}

.nav {
    background-color: #181818;
    position:fixed;
    width:100%;
    margin:0 auto;

    &__logo {
        width: 2rem;
        height:2rem;
        padding:0.5rem 1rem;
        
    }

    &__list {
        list-style: none;
        position:fixed;
        margin:0;
        padding:0.5rem;
        width:70%;
        @include flexed(row,space-between,center);
    }

    // &__item {
    //     border-bottom:1px solid white;
    // }

    &__link{
        text-decoration: none;
        color:white;

        &:hover{
            color:red;
            font-size:1.5em;
        }
    }
}