@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colours" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/global" as *; 

.inner {
    @include flexed(column,center,center);
    gap:1rem;
}
.download {
    @include flexed(row,center,center);
    gap:0.5rem;
    &__btn {
        cursor: pointer;
        border:1px solid $primary-color;
        padding: 2%;
        border-radius:5px;
        align-self: center;
        width:100%;
        text-align: center;
    
    
        @include link-reset;
        &:hover {
            background-color:$primary-color;
            border:transparent;
        }

    }
}

.skills {
    &__section-title{
        text-align: center;
        margin-top:1rem;
    }
}


//want a clickable area for the employment__details so that it drops down bullet point lists
//use onclick for employment__lower