@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colours" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/global" as *; 
@use "../../styles/partials/typography" as *;

.work {
    &__wrapper {
        width:100%;
        background-color: rgba(0, 0, 0, 0.399);
        margin-bottom:1rem;
    }

    &__top {
        @include flexed(row, space-between,center);
        cursor: pointer;
        border:1px dotted $primary-color;
        
    }
    &__image {
        display:inline-flex;
        align-items: flex-end;
        width:22%;
        @include tablet {
            width:10%;
        }
    }
    &__img {
        width:100%;
    }

    &__text{
        width:80%;
        @include flexed(column,center,center);
    }

    &__title {
        color: $primary-color;
        font-size:$h3-font-size;
        @include tablet {
            font-size:$h2-font-size;
        }
    }
    &__role {
        font-size:$small-font-size;
        @include tablet {
            font-size:$h3-font-size;
        }
    }
    &__date {
        font-size: $small-font-size;
        @include tablet {
            font-size: $h3-font-size;
        }
    }

    &__description{
        margin:0;
        padding-left:0;
        padding-bottom:8px;
        font-size: $small-font-size;
    }

    &__line {
        padding:0 0.5rem;
        margin-bottom:4px;
        gap:0.5rem;
    }

}

